/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-jan-2015, 16:17:16
    Author     : huang
*/
body{
     background-color:#9acfea;
}
.container nav ul li{
       
        color: #BFBFBF;
	font-size: 2em;
	text-shadow: 0px 0px 3px;
}
.container nav ul li label{
     
        color: #BFBFBF;
	font-size: 0.7em;
	text-shadow: 0px 0px 3px;
}

.container section ul li{
     
       	color: #BFBFBF;
	font-size: 2em;
	text-shadow: 0px 0px 11px #0066FF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-variant: small-caps;
        
}

    

.container aside ul{   
    position:fixed;
    right: 15%;
    top:20%;
    width:12%;
    height: 30%;
}
   #buttonsubmit{
                color:#cd0a0a;
            }  
  #lijst,#lijst1{
                width: 40%;
                margin-left: 27%;                         
            }  
